


/* https://stackoverflow.com/a/5057529 */
html, body {
    padding: 0px; 
    margin: 0px;
    height: 100%;
    width: 100%;
    border: 5px solid black;
}



h1 {
    color: white;
}

h3, h4, h5 {
    text-align: center;
}

#flexCols {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}


#flexRows {
    display: flex;
    height: 100%;
    width: 100%;

}


#header {
    background-color: rgb(48, 48, 48);
    border: 5px solid black;
    text-align: center;
}

#sidebar {
    position: relative;
    flex: 0;
    border: 5px solid black;

    
    
    

}

#sections {
    text-align: center;
    position: relative;
    flex: 1;
    border: 5px solid black;

    
}

