


/* https://stackoverflow.com/a/5057529 */
html, body {
    padding: 0px; 
    margin: 0px;
    height: 100%;
    width: 100%;
    font-family: Georgia, serif;
}




h1, h2, h3, h4, h5 {
    text-align: center;
}



#flexRows {
    position: relative;
    display: flex;
    height: 100%;
    width: 100%;

}

/* rgb(34, 101, 146); */
#header {
    /*
    margin-top: 0.5%;
    margin-left: 5%;
    margin-right: 5%;
    
    border: 2px solid rgb(34, 101, 146);
    border-radius: 5px;
    */
    border-top: 5px solid rgb(40, 40, 40);
    border-bottom: 8px double rgb(189, 189, 189);
    background-color: rgb(40, 40, 40);
    color: rgb(255, 255, 255);
    text-align: center;

}

#sidebar {
    flex: 1;
    border: 2px solid rgb(189, 189, 189);
    border-width: 2px 2px 0px 0px;
    background-color: rgb(40, 40, 40);
    color: rgb(221, 220, 220);
    position: relative;

}

#sections {
    background-color: rgb(60, 60, 60);
    color: rgb(221, 220, 220);
    text-align: center;
    position: relative;
    flex: 7;
    overflow: auto;
}

.content {
    margin-left: 15%;
    margin-right: 15%;

}

#me {
    float: left;
    height: 200px;
    width: auto;
    border-radius: 20px;
    border: solid rgb(189, 189, 189);
}

#bio {
    display: inline;
}

p {
    font-family: Georgia, serif;
    display: inline-block;
}

ul {
    list-style-position: inside;
}

a:link {color:rgb(48, 119, 167); text-decoration:none}
a:visited {color:rgb(114, 65, 155); text-decoration:none}
a:hover {color:rgb(150, 52, 128)}
